html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar: {
    width: thin;
    color: var(--color-gray) var(--color-lithe-black);
  }
}

body {
  font: {
    family: 'roboto', sans-serif;
    weight: 200;
  }

  &:not(h1, h2, h3, h4, h5, h6) { font-size: 14px; }
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-gray);
}

p {
  & + ul,
  & + ol {
    & > li {
      &:not(:last-child)::after { content: ";"; }
      &:last-child::after { content: "."; }
    }
  }
}

.svg-btn {
  $width: 30px;

  & > svg {
    width: $width;
    aspect-ratio: 1;
  }
}